In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
pwd

'C:\\Users\\ELCOT\\Desktop\\NAAN MUDHALVAN'

In [6]:
df=pd.read_csv('name of the animals.txt')
df.head()

  antelope
0   badger
1      bat
2     bear
3      bee
4   beetle

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   antelope  89 non-null     object
dtypes: object(1)
memory usage: 840.0+ bytes

In [29]:
df.shape

(89, 1)

In [30]:
df.isnull().sum()

antelope    0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   antelope  89 non-null     object
dtypes: object(1)
memory usage: 840.0+ bytes

In [7]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [8]:
train_datagen = ImageDataGenerator(rescale=1./255,zoom_range=0.2,horizontal_flip=True)

In [9]:
test_datagen = ImageDataGenerator(rescale=1./255)

In [10]:
xtrain = train_datagen.flow_from_directory('C:\\Users\\ELCOT\\Desktop\\NAAN MUDHALVAN',target_size=(64,64),class_mode='categorical',batch_size= 100)

Found 0 images belonging to 1 classes.

In [11]:
from tensorflow.keras.models import Sequential

In [12]:
from tensorflow.keras.layers import Convolution2D,MaxPooling2D,Flatten,Dense

In [13]:
model =Sequential()

In [16]:
model.add(Convolution2D(32,(3,3),activation = 'relu',input_shape = (64,64,3)))
model.add(MaxPooling2D(pool_size=(2,2)))

In [17]:
model.add(Dense(300,activation = 'relu'))

In [18]:
model.add(Dense(150,activation = 'relu'))

In [19]:
model.add(Dense(4,activation = 'softmax'))

In [20]:
model.compile(optimizer='adam',loss='category_crossentropy',metrics = ['accuracy'])

In [23]:
model.save('animal3.h5')

WARNING:tensorflow:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [24]:
from tensorflow.keras.preprocessing import image